<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDERR" class="com.ecg.replyts.core.runtime.logging.FileDescriptorAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
        <target>FileDescriptor.err</target>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
