<configuration>

    <appender name="STDOUT" class="com.ecg.replyts.core.runtime.logging.FileDescriptorAppender">
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <method><fieldName>method</fieldName></method>
                <statusCode><fieldName>statusCode</fieldName></statusCode>
                <requestedUrl><fieldName>requestedUrl</fieldName></requestedUrl>
                <requestedUri><fieldName>requestedUri</fieldName></requestedUri>
                <remoteHost><fieldName>remoteHost</fieldName></remoteHost>
                <contentLength><fieldName>contentLength</fieldName></contentLength>
                <elapsedTime><fieldName>elapsedTime</fieldName></elapsedTime>
                <pattern>
                    <pattern>
                        {"user-agent": "%i{User-Agent}", "host": "%i{Host}", "x-forwarded-for": "#nullNA{%i{X-Forwarded-For}}", "x-request-timestamp": "#nullNA{%i{X-Request-Timestamp}}", "correlation_id": "#nullNA{%responseHeader{X-Correlation-ID}}"}
                    </pattern>
                </pattern>
                <context />
            </providers>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT"/>

</configuration>
