<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
        <target>System.err</target>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>

   <include file="${confDir}/logging.xml"/>

</configuration>
