[Unit]
Description=ReplyTS 2
After=syslog.target
After=network.target

[Service]
Type=simple
User=replyts2
Group=replyts2
ExecStart=/usr/lib/replyts2/bin/comaas

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
