<configuration>
    <!-- always a good activate OnConsoleStatusListener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/access.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>

        <encoder>
            <!-- see https://logback.qos.ch/manual/layouts.html#AccessPatternLayout -->
            <pattern>[%t] %i{X-mobile-source-IP} via %a "%r" %i{Host} %s [%b b] [%D ms] %I "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="FILE"/>
</configuration>
