https://idauth.ebay.com/idauth/site/token?client_id=urn:ebay-marketplace-consumerid:08db7666-e0d9-418e-9b6e-2722b4cb370c&client_secret=580839e8-229a-465a-afe5-b3e551a34d72&grant_type=client_credentials&scope=https://api.ebay.com/oauth/scope/core@user|{"access_token":"v^1.1#i^1#I^3#r^1#f^0#p^1#t^Ul42XzE6QURENjgzOTVBM0NDNEEyNzI0NEZCNkNENTI0OTI5MzVfMl8xI0VeMjYw","token_type":"Application Access Token","expires_in":7200,"refresh_token":"N/A"}
https://idauth.ebay.com/idauth/site/token?client_id=urn:ebay-marketplace-consumerid:a4335f20-7467-4b26-b1a2-c0ec26ec3c02&client_secret=91c5d3ae-2ecc-4e48-9b9b-072c7159878c&grant_type=client_credentials&scope=https://api.ebay.com/oauth/scope/base@public|{"access_token":"v^1.1#i^1#I^3#p^1#r^1#f^0#t^Ul42Xzg6QTcwMjU3QzhBQ0U2QkU1MTQ5MEY2ODI4NDA2QTk4MTVfMl8xI0VeMjYw","token_type":"Application Access Token","expires_in":7200,"refresh_token":"N/A"}
https://api.ebay.com/base/location/v2/info?queryId=ecgebayk_geoloc_ip_1&ipAddress=91.211.73.240|{"allResults":[{"httpStatus":200,"queryResult":[{"postalCode":"8301AA","metroCode":"-1","isoCountryCode2":"NL","stateCode":"FL","longitude":5.75237,"areaCodes":"?","latitude":52.7093,"queryId":"ecgebayk_geoloc_ip_1","city":"emmeloord"}]}]}
https://api.ebay.com/identity/v1/oauth2/token?grant_type=client_credentials&scope=https://api.ebay.com/oauth/scope/@public|{"access_token":"v^1.1#i^1#f^0#p^1#r^1#I^3#t^Ul42XzY6M0YyRkZGQjhDQTc0OTg5MTc2Nzc4MTE3N0MwOTE0MDlfMl8xI0VeMjYw","expires_in":7200,"token_type":"Application Access Token"}
https://api.ebay.com/identity/user_lookup/v1/query|{"user":{"userAccountName":"newcron","userAccountStatus":"CONFIRMED","extensions":[{"key":"FEEDBACKSCORE","value":"8"}]}}
https://svcs.ebay.com/ws/spf|<?xml version='1.0' encoding='utf-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Header/><soapenv:Body><ns1:ipRatingResponse xmlns:ns1="http://www.ebay.com/marketplace/security/v1/services" xmlns="http://www.ebay.com/marketplace/services"><ack>Success</ack><version>1.0.0</version><timestamp>2018-08-15T09:59:01.111Z</timestamp><ns1:ipRatingInfo><ns1:ipAddress>194.50.69.177</ns1:ipAddress><ns1:ipRating>0.15</ns1:ipRating><ns1:ipRatingServiceStatus>IP_PROCESSED</ns1:ipRatingServiceStatus><ns1:ipBadLevel>MEDIUM_BAD</ns1:ipBadLevel></ns1:ipRatingInfo></ns1:ipRatingResponse></soapenv:Body></soapenv:Envelope>