<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>mdenexus</id>
            <mirrorOf>!gtauNexus,!gtukNexus,*</mirrorOf>
            <url>https://nexus.corp.mobile.de/nexus/content/groups/mobile-releases</url>
            <name>MdeNexus</name>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>auto-deploy-releases</id>
            <username>comaas-uploader</username>
            <password>ohy9Te#hah9U</password>
        </server>

        <server>
            <id>auto-deploy-snapshots</id>
            <username>comaas-uploader</username>
            <password>ohy9Te#hah9U</password>
        </server>

        <server>
            <id>k-auto-deploy-releases</id>
            <username>belen</username>
            <password>autodeploy123</password>
        </server>

        <server>
            <id>k-auto-deploy-snapshots</id>
            <username>belen</username>
            <password>autodeploy123</password>
        </server>
    </servers>
</settings>
