<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>mdenexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.corp.mobile.de/nexus/content/groups/mobile-releases</url>
            <name>MdeNexus</name>
        </mirror>
        <mirror>
            <id>mpnexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://mpnexus.corp.ebay.com/content/groups/public</url>
            <name>MpNexus</name>
        </mirror>
    </mirrors>
</settings>
