<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>mdenexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.corp.mobile.de/nexus/content/groups/mobile-releases</url>
            <name>MdeNexus</name>
        </mirror>
        <mirror>
            <id>mpnexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://mpnexus.corp.ebay.com/content/groups/public</url>
            <name>MpNexus</name>
        </mirror>
        <mirror>
            <id>kijiji-belen-releases</id>
            <url>https://nexus.corp.mobile.de/nexus/content/groups/kijiji-belen-releases/</url>
            <!-- Exclude repositories with name 'ext-libs'. In replyts2-core, we need a local file repository for dependencies not available in public repository. -->
            <mirrorOf>*,!ext-libs</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>kijiji-belen-releases</id>
            <username>teamcity-belen</username>
            <password>teamcity-belenB90</password>
        </server>

        <server>
            <id>kijiji-belen-snapshots</id>
            <username>teamcity-belen</username>
            <password>teamcity-belenB90</password>
        </server>

        <server>
            <id>auto-deploy-releases</id>
            <username>comaas-uploader</username>
            <password>ohy9Te#hah9U</password>
        </server>

        <server>
            <id>auto-deploy-snapshots</id>
            <username>comaas-uploader</username>
            <password>ohy9Te#hah9U</password>
        </server>

        <server>
            <id>k-auto-deploy-releases</id>
            <username>belen</username>
            <password>autodeploy123</password>
        </server>

        <server>
            <id>k-auto-deploy-snapshots</id>
            <username>belen</username>
            <password>autodeploy123</password>
        </server>
    </servers>
</settings>
