<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %-20logger{20}: %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.ecg.de.ebayk.messagecenter" level="INFO"/>



    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>