target
.idea/
*.iml
*.ipr
*.iws
nb-*.xml
.project
.classpath
.settings
db*.log
db.data
db.redo
.#webclasspath
.tomcatplugin
.metadata
velocity.log*
.cache
work
*global-groovy.log
*soapui-errors.log
*soapui.log
glassfish-web.xml
context.xml
.pmd
data/