<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %-35logger{35}: %msg %n</pattern>

        </encoder>
    </appender>

    <logger name="com.ecg.replyts" level="info"/>

    <logger name="com.ebay.ecg.sanitychecks" level="info"/>

    <logger name="org.cassandraunit" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
