<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="postProcessorChain" class="com.ecg.replyts.app.postprocessorchain.PostProcessorChain">
        <property name="postProcessors">
            <list value-type="com.ecg.replyts.app.postprocessorchain.PostProcessor">
                <!-- The order here doesn't matter. PostProcessors are reordered by the PostProcessorChain. -->
                <bean class="ca.kijiji.replyts.postprocessor.Addresser"/>
                <bean class="com.ecg.replyts.app.postprocessorchain.postprocessors.Cleaner"/>
                <bean class="com.ecg.replyts.app.postprocessorchain.postprocessors.MessageIdPreparator"/>
                <bean class="ca.kijiji.replyts.postprocessor.MessageBodyAnonymizer"/>
            </list>
        </property>
    </bean>

    <bean id="currentClock" class="com.ecg.replyts.core.api.util.CurrentClock"/>
    <!-- Redefine the timeframe to be without bounds, as our retention period is independent of CS working hours -->
    <bean id="timeoutHeldsCronJobTimeframe" class="com.ecg.replyts.app.cronjobs.BoundlessTimeframe">
        <constructor-arg index="0" value="${replyts2.sendHeld.csWorkingHoursStart:0}"/>
        <constructor-arg index="1" value="${replyts2.sendHeld.csWorkingHoursEnd:24}"/>
        <constructor-arg index="2" value="${replyts2.sendHeld.retentionTimeHours:12}"/>
        <constructor-arg index="3" ref="currentClock"/>
    </bean>

    <bean id="graphiteExceptionLogger" class="ca.kijiji.replyts.logging.ExceptionMetricsLogger"/>

    <util:list id="javaMailMessageFixers" value-type="com.ecg.replyts.core.api.processing.MessageFixer">
        <bean class="com.ecg.replyts.core.runtime.mailfixers.BrokenContentTypeFix"/>
    </util:list>
</beans>
