<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %-35logger{35}: %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.ecg.messagecenter" level="INFO"/>
    <logger name="com.ecg.messagebox.persistence" level="TRACE"/>
    <logger name="com.ecg.messagebox.controllers" level="TRACE"/>
    <logger name="com.ecg.messagecenter.persistence.simple" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>